<div class="bg-yellow-600/90">
  <div class="mx-auto container flex justify-between py-2 items-center">
    <div class="flex gap-2 items-center text-white">
      <p class="text-lg">Follow Us</p>
      <div class="p-2 rounded-full bg-white/10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="white"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          />
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M16.5 7.5l0 .01" />
        </svg>
      </div>
      <div class="p-2 rounded-full bg-white/10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
          <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
        </svg>
      </div>
      <div class="p-2 rounded-full bg-white/10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ffffff"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
          />
        </svg>
      </div>
    </div>
    <p class="text-white/80 lg:text-lg">
      Sign up to get 20% OFF on all collections
    </p>
    <div class="flex gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-phone"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
        />
      </svg>
      <p class="text-white/80 text-lg">(+880) 1521575254</p>
    </div>
  </div>
</div>
<div class="bg-[#2d5356] text-white/80">
  <div class="mx-auto container flex justify-between items-center py-3">
    <h1 class="text-3xl font-medium text-white tracking-wide">Interior</h1>
    <div class="flex gap-4 text-white/80 lg:text-lg">
      <p
        class="underline underline-offset-8 decoration-2 decoration-yellow-600"
      >
        Home
      </p>
      <p
        class="hover:underline underline-offset-8 decoration-2 decoration-yellow-600"
      >
        Product
      </p>
      <p
        class="hover:underline underline-offset-8 decoration-2 decoration-yellow-600"
      >
        Categories
      </p>
      <p
        class="hover:underline underline-offset-8 decoration-2 decoration-yellow-600"
      >
        About Us
      </p>
      <p
        class="hover:underline underline-offset-8 decoration-2 decoration-yellow-600"
      >
        Contact Us
      </p>
      <p
        class="hover:underline underline-offset-8 decoration-2 decoration-yellow-600"
      >
        Blog
      </p>
    </div>
    <div class="stroke-white flex gap-4 items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-search"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
        <path d="M21 21l-6 -6" />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-heart"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 17h-11v-14h-2" />
        <path d="M6 5l14 1l-1 7h-13" />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#ffffff"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-user"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
      </svg>
    </div>
  </div>
  <div class="mx-auto container">
    <div class="flex gap-10 py-14">
      <div class="space-y-5 w-1/2">
        <div class="py-2 px-5 bg-white/10 text-base rounded-full inline-block">
          FURNITURE DESIGN IDEA
        </div>
        <p class="text-6xl font-semibold text-balance pb-5">
          Modern Interior Design Studio
        </p>
        <p class="text-balance">
          Choosing the right furniture for your home online will add elegance
          and functionality to your interior while also being cost effective and
          long lasting.
        </p>
        <div class="flex gap-4 items-baseline pt-5">
          <button
            class="bg-yellow-600 py-2 px-5 rounded-full flex gap-1 items-center"
          >
            Shop Now
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#ffffff"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M15 16l4 -4" />
              <path d="M15 8l4 4" />
            </svg>
          </button>
          <p class="underline underline-offset-2">Follow Instagram</p>
        </div>
        <div class="flex gap-10 pt-10">
          <div class="space-y-2 text-white">
            <p class="text-3xl">2500+</p>
            <p class="text-lg">Unique Style</p>
          </div>
          <div class="space-y-2 text-white">
            <p class="text-3xl">5000+</p>
            <p class="text-lg">Happy Customer</p>
          </div>
          <div class="space-y-2 text-white">
            <p class="text-3xl">300+</p>
            <p class="text-lg">Certified Outlet</p>
          </div>
        </div>
      </div>
      <div class="space-y-5 w-1/2">
        <div class="flex gap-5 justify-end">
          <div class="relative">
            <img
              src="/public/assets/il_794xN.4973304999_brx4.avif"
              alt=""
              class="rounded-2xl w-80 h-[380px] relative"
            />
            <div
              class="absolute flex justify-between px-3 text-xl font-semibold bottom-4 pl-10 text-white"
            >
              <p>Bed Design</p>
              <p class="pl-10">2500+ Idea</p>
            </div>
          </div>

          <div class="relative w-28 h-[348px]">
            <img
              src="/public/assets/industrial-rustic-living-room-in-earthy-tones.jpg"
              alt=""
              class="rounded-2xl object-cover relative h-[380px]"
            />
            <p
              class="absolute text-xl font-semibold -rotate-90 bottom-10 text-nowrap -left-5 text-white"
            >
              Living Room
            </p>
          </div>
          <div class="relative w-28 h-[348px]">
            <img
              src="/public/assets/industrial-rustic-living-room-in-earthy-tones.jpg"
              alt=""
              class="rounded-2xl object-cover relative h-[380px]"
            />
            <p
              class="absolute text-xl font-semibold -rotate-90 bottom-12 text-nowrap -left-5 text-white"
            >
              Waiting Room
            </p>
          </div>
        </div>
        <div class="flex gap-5 pt-7 items-start pl-9">
          <button
            type="button"
            class="px-7 py-2 bg-white/10 flex items-center justify-center rounded-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#ffffff"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left size-7"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M5 12l4 4" />
              <path d="M5 12l4 -4" />
            </svg>
          </button>
          <button
            type="button"
            class="px-7 py-2 bg-yellow-600 flex items-center justify-center rounded-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#ffffff"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-right size-7"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M15 16l4 -4" />
              <path d="M15 8l4 4" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
