<div class="container mx-auto" id="skill">
  <h1 class="text-3xl font-bold pb-10 text-center pt-24">My Skills</h1>
  <div class="flex justify-center items-center pb-10">
    <div
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-8 sm:gap-3 md:gap-5 text-md"
    >
      <div
        class="flex flex-col w-36 h-36 text-center justify-center border-zinc-600 border rounded-lg hover:bg-emerald-400 shadow-2xl z-50 gap-4 cursor-pointer items-center"
      >
        <img
          src="/public/assets/html-5-svgrepo-com.svg"
          alt=""
          class="w-16 h-16"
        />
        <p class="items-center font-medium">HTML</p>
      </div>
      <div
        class="flex flex-col w-36 h-36 text-center justify-center border-zinc-600 border rounded-lg hover:bg-emerald-400 shadow-2xl z-50 gap-4 cursor-pointer items-center"
      >
        <img
          src="/public/assets/css-3-svgrepo-com.svg"
          alt=""
          class="w-16 h-16"
        />
        <p class="items-center font-medium">CSS</p>
      </div>
      <div
        class="flex flex-col w-36 h-36 text-center justify-center border-zinc-600 border rounded-lg hover:bg-emerald-400 shadow-2xl z-50 gap-4 cursor-pointer items-center"
      >
        <img
          src="/public/assets/javascript-svgrepo-com.svg"
          alt=""
          class="w-16 h-16"
        />
        <p class="items-center font-medium">Javascript</p>
      </div>
      <div
        class="flex flex-col w-36 h-36 text-center justify-center border-zinc-600 border rounded-lg hover:bg-emerald-400 shadow-2xl z-50 gap-4 cursor-pointer items-center"
      >
        <img
          src="/public/assets/git-svgrepo-com.svg"
          alt=""
          class="w-16 h-16"
        />
        <p class="items-center font-medium">Git Version Control</p>
      </div>
      <div
        class="flex flex-col w-36 h-36 text-center justify-center border-zinc-600 border rounded-lg hover:bg-emerald-400 shadow-2xl z-50 gap-4 cursor-pointer items-center"
      >
        <img
          src="/public/assets/angular-svgrepo-com.svg"
          alt=""
          class="w-16 h-16"
        />
        <p class="items-center font-medium">Angular</p>
      </div>
      <div
        class="flex flex-col w-36 h-36 text-center justify-center border-zinc-600 border rounded-lg hover:bg-emerald-400 shadow-2xl z-50 gap-4 cursor-pointer items-center"
      >
        <img
          src="/public/assets/react-svgrepo-com.svg"
          alt=""
          class="w-16 h-16"
        />
        <p class="items-center font-medium">React</p>
      </div>
      <div
        class="flex flex-col w-36 h-36 text-center justify-center border-zinc-600 border rounded-lg hover:bg-emerald-400 shadow-2xl z-50 gap-4 cursor-pointer items-center"
      >
        <img
          src="/public/assets/tailwind-css-svgrepo-com.svg"
          alt=""
          class="w-16 h-16 stroke-blue-400 fill-blue-400"
        />
        <p class="items-center font-medium">Tailwind CSS</p>
      </div>
      <div
        class="flex flex-col w-36 h-36 text-center justify-center border-zinc-600 border rounded-lg hover:bg-emerald-400 shadow-2xl z-50 gap-4 cursor-pointer items-center"
      >
        <img
          src="/public/assets/wordpress-svgrepo-com.svg"
          alt=""
          class="w-16 h-16 stroke-blue-400 fill-blue-400"
        />
        <p class="items-center font-medium">Wordpress</p>
      </div>
    </div>
  </div>
</div>
