<div class="container mx-auto">
  <div class="mx-3">
    <h1 class="text-4xl font-bold py-7 text-center">About</h1>
    <div class="flex items-start gap-3">
      <div class="w-80 h-0.5 bg-emerald-400 mt-3"></div>
      <div class="leading-relaxed md:leading-loose md:text-lg text-justify">
        I am Jony. I am working as a Junior Web Developer at
        <span class="text-emerald-400"
          ><a href="" class="hover:underline hover:underline-offset-4"
            >web.dev</a
          ></span
        >
        . Web development is something that I like to do. I have acquired and
        shaped Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Sapiente sit illum saepe doloremque dolore adipisci amet facilis velit
        fugit? Repellat aperiam dolorem blanditiis nisi adipisci odit aspernatur
        expedita earum facilis.
        <span class="text-emerald-400"
          >I am trustworthy, creative and an effective communicator.</span
        >
        I fondly anticipate working in a challenging yet rewarding organization
        to attain its visions for personal growth.
      </div>
    </div>
  </div>
</div>
