<div class="p-3 container mx-auto flex flex-col justify-center items-center">
  <div class="relative w-full">
    <img
      src="/public/assets/andrew-ridley-jR4Zf-riEjI-unsplash.jpg"
      alt=""
      class="w-full h-24 lg:h-36 object-cover"
    />

    <img
      src="/public/assets/21609 copy_1.JPG"
      alt=""
      class="rounded-full size-28 md:size-40 border-white border-8 full absolute top-10/12 left-1/2 items-center transform -translate-x-1/2 -translate-y-1/2"
    />
  </div>
  <div
    class="flex flex-col sm:flex-row gap-6 sm:gap-y-20 items-center justify-center pt-14 md:pt-24 pb-7"
  >
    <div class="flex flex-col space-3 justify-center items-center">
      <h1 class="text-3xl font-semibold">Jony</h1>
      <h3 class="text-lg text-gray-500 pt-3">Junior Web Developer</h3>
      <a
        href="https://github.com/jony378892"
        class="underline underline-offset-2 text-gray-500"
        >https://github.com/jony378892</a
      >
      <div class="pt-3 flex gap-3 items-center tracking-wider">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6 fill-gray-600"
        >
          <path
            fill-rule="evenodd"
            d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
            clip-rule="evenodd"
          />
        </svg>

        <p class="text-gray-500">Rampura, Dhaka, Bangladesh</p>
      </div>
      <button
        type="button"
        class="text-center rounded-lg bg-blue-600 text-white flex justify-center py-1 mt-3 w-full mx-2 gap-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="size-7 fill-white"
        >
          <path
            d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
          />
          <path
            d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
          />
        </svg>

        <p class="text-lg font-medium">Message</p>
      </button>
    </div>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 bg-gray-100 gap-3 border-gray-400 p-3 sm:p-5 rounded-xl gap-x-5"
  >
    <div class="space-y-5">
      <div class="flex flex-col space-y-3 items-center">
        <button
          type="button"
          class="bg-sky-400 text-white py-1.5 text-base md:text-lg font-mediu mb-5 md:font-semibold text-center sm:w-1/2 rounded-xl w-full"
          routerLink="/furniture-store"
        >
          1. Furniture Store</button
        ><img
          src="/public/assets/localhost_4200_furniture-store.png"
          alt="Furniture-store"
          class="rounded-xl cursor-pointer"
          routerLink="/furniture-store"
        />
      </div>

      <div class="flex flex-col space-y-3 items-center">
        <button
          type="button"
          class="bg-purple-700 text-white py-1.5 ng serve text-base md:text-lg font-medium mb-5 md:font-semibold text-center sm:w-1/2 w-full rounded-xl"
          routerLink="/food-store"
        >
          3. Food Store</button
        ><img
          src="/public/assets/localhost_4200_food-store (4).png"
          alt=""
          class="rounded-xl cursor-pointer"
          routerLink="/food-store"
        /><button
          type="button"
          class="bg-yellow-600 text-white py-1.5 ng serve text-base md:text-lg font-medium mb-5 md:font-semibold text-center sm:w-1/2 rounded-xl w-full"
          routerLink="/food-store"
        >
          5. Interior
        </button>
        <img
          src="/public/assets/Screenshot_1-7-2024_134342_localhost.jpeg"
          alt="interior-design"
          class="rounded-xl cursor-pointer"
          routerLink="/interior"
        />
      </div>
      <div class="flex flex-col space-y-3 items-center">
        <button
          type="button"
          class="bg-green-600 text-white py-1.5 text-base md:text-lg font-medium mb-5 md:font-semibold text-center sm:w-1/2 rounded-xl w-full"
          routerLink="/product-page"
        >
          6. Product Page</button
        ><img
          src="/public/assets/Screenshot 2024-07-11 at 23-26-48 Product Page.png"
          alt=""
          class="rounded-xl cursor-pointer"
          routerLink="/product-page"
        />
      </div>
      <div class="flex flex-col space-y-3 items-center">
        <button
          type="button"
          class="bg-green-600 text-white py-1.5 text-base md:text-lg font-medium mb-5 md:font-semibold text-center sm:w-1/2 rounded-xl w-full"
          routerLink="/checkout"
        >
          7. Checkout Page</button
        ><img
          src="/public/assets/Screenshot 2024-07-12 at 08-26-05 Checkout.png"
          alt=""
          class="rounded-xl cursor-pointer"
          routerLink="/checkout"
        />
      </div>
    </div>
    <div class="space-y-5">
      <div class="flex flex-col space-y-3 items-center">
        <button
          type="button"
          class="bg-emerald-500 text-white py-1.5 text-base md:text-lg font-medium mb-5 md:font-semibold text-center sm:w-1/2 rounded-xl w-full"
          routerLink="/hotel"
        >
          2. Hotel Booking</button
        ><img
          src="/public/assets/localhost_4200_hotel.png"
          alt=""
          class="rounded-xl cursor-pointer"
          routerLink="/hotel"
        />
      </div>

      <div class="flex flex-col space-y-3 items-center">
        <button
          type="button"
          class="bg-zinc-700 text-white py-1.5 text-base md:text-lg font-medium mb-5 md:font-semibold text-center sm:w-1/2 rounded-xl w-full"
          routerLink="/portfolio-website"
        >
          4. Portfolio Website</button
        ><img
          src="/public/assets/localhost_4200_portfolio-website.png"
          alt=""
          class="rounded-xl cursor-pointer"
          routerLink="/portfolio-website"
        />
      </div>
      
    </div>
  </div>
</div>
