<div class="p-3 md:p-5 space-y-4">
  <div class="flex justify-between">
    <h1 class="text-xl text-teal-500 font-bold tracking-widest">StayPeak</h1>
    <div class="flex gap-5 items-center w-0 sm:w-auto">
      <div class="sm:bg-teal-200 py-1 px-2 rounded-lg">
        <img src="/public/assets/map.svg" alt="" class="size-6" />
      </div>

      <img src="/public/assets/shopping-bag.svg" alt="" class="sm:size-6" />
      <img src="/public/assets/info.svg" alt="" class="sm:size-6" />
      <img src="/public/assets/settings (2).svg" alt="" class="sm:size-6" />
    </div>
    <div class="flex gap-4 sm:items-end items-center">
      <img src="/public/assets/heart.svg" alt="" class="size-5 md:size-6" />
      <img
        src="/public/assets/bell - Copy.svg"
        alt=""
        class="size-5 md:size-6"
      />
      <div class="flex items-center">
        <p class="text-base sm:text-lg mb-1">Eng</p>
        <img
          src="/public/assets/chevron-down.svg"
          alt=""
          class="size-3 md:size-4"
        />
      </div>
      <img
        src="/public/assets/21609 copy_1.JPG"
        alt=""
        class="size-7 rounded-full -ml-1"
      />
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-4">
    <div class="w-full lg:w-8/12 space-y-4">
      <div class="p-5 bg-gray-100 space-y-4 rounded-xl w-full">
        <div class="justify-between flex">
          <div class="flex items-center gap-3text- text-sm text-gray-600">
            <p class="bg-teal-200 rounded-lg inline-flex px-2 py-1">Home</p>
            <p>House</p>
            <p>Village</p>
          </div>
          <div class="text-sm">Today: 30 Jun, 2024</div>
        </div>
        <div
          class="grid grid-cols-4 divide divide-x-2 rounded-lg rounded-e-lg bg-white shadow-md items-center"
        >
          <div class="md:flex justify-between px-4 py-2 items-center">
            <p>Arteen Inn</p>
            <p class="text-sm text-green-700">236 hotels</p>
          </div>
          <div class="px-4 py-2 text-balance">Jul.3, Mon</div>
          <div class="px-4 py-2 text-balance">Jul.10, Mon</div>
          <div
            class="flex items-center bg-green-400 text-white px-4 rounded-e-lg h-full text-center justify-between"
          >
            Search
          </div>
        </div>
        <div class="flex justify-between items-center pt-2">
          <div class="">
            <h3 class="text-lg font-semibold">Suitable Option</h3>
            <p class="text-sm">Recommended hotels in area</p>
          </div>
          <div class="flex gap-4 items-center">
            <img
              src="/public/assets/arrow-left.svg"
              alt=""
              class="stroke-gray-500"
            />
            <div class="p-0.5 px-2 bg-white shadow-md rounded-md">
              <img src="/public/assets/arrow-right.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 gap-3">
          <div class="relative border-4 border-white rounded-lg">
            <img src="/public/assets/R.jpeg" alt="" class="w-full rounded-lg" />
            <div
              class="absolute py-1 px-3 text-white bg-transparent/30 right-3 top-3 rounded-lg"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-heart size-5"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </div>
            <div
              class="text-sm px-2 py-1 absolute bg-transparent/30 text-white top-3 left-3 rounded-lg font-semibold"
            >
              $300
            </div>
            <div class="absolute text-white left-3 bottom-3">
              <p class="font-semibold">Galenstock</p>
              <div class="flex gap-1 text-sm">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="white"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-star size-4"
                >
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  ></polygon>
                </svg>
                <p>4.9</p>
              </div>
            </div>
          </div>
          <div class="relative border-4 border-white rounded-lg">
            <img src="/public/assets/R.jpeg" alt="" class="w-full rounded-lg" />
            <div
              class="absolute py-1 px-3 text-white bg-transparent/30 right-3 top-3 rounded-lg"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-heart size-5"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </div>
            <div
              class="text-sm px-2 py-1 absolute bg-transparent/30 text-white top-3 left-3 rounded-lg font-semibold"
            >
              $300
            </div>
            <div class="absolute text-white left-3 bottom-3">
              <p class="font-semibold">Galenstock</p>
              <div class="flex gap-1 text-sm">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="white"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-star size-4"
                >
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  ></polygon>
                </svg>
                <p>4.9</p>
              </div>
            </div>
          </div>
          <div class="relative border-4 border-white rounded-lg">
            <img src="/public/assets/R.jpeg" alt="" class="w-full rounded-lg" />
            <div
              class="absolute py-1 px-3 text-white bg-transparent/30 right-3 top-3 rounded-lg"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-heart size-5"
              >
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                ></path>
              </svg>
            </div>
            <div
              class="text-sm px-2 py-1 absolute bg-transparent/30 text-white top-3 left-3 rounded-lg font-semibold"
            >
              $300
            </div>
            <div class="absolute text-white left-3 bottom-3">
              <p class="font-semibold">Galenstock</p>
              <div class="flex gap-1 text-sm">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="white"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-star size-4"
                >
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  ></polygon>
                </svg>
                <p>4.9</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full p-5 bg-gray-100 rounded-xl space-y-4">
        <div class="flex justify-between">
          <div class="flex gap-2 items-center">
            <p
              class="flex gap-1 bg-white px-2 py-0.5 font-medium rounded-md text-sm items-center"
            >
              Filter
              <img
                src="/public/assets/chevron-down.svg"
                alt=""
                class="size-4"
              />
            </p>
            <p
              class="flex gap-1 bg-teal-200 e px-2 py-0.5 font-medium rounded-md text-sm items-center"
            >
              Low cost
              <img
                src="/public/assets/chevron-down.svg"
                alt=""
                class="size-4"
              />
            </p>

            <p
              class="flex gap-1 bg-pink-200 px-2 py-0.5 font-medium rounded-md text-sm items-center"
            >
              Popular
              <img
                src="/public/assets/chevron-down.svg"
                alt=""
                class="size-4"
              />
            </p>
          </div>
          <div class="flex gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-server size-5"
            >
              <rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect>
              <rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect>
              <line x1="6" y1="6" x2="6.01" y2="6"></line>
              <line x1="6" y1="18" x2="6.01" y2="18"></line>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-grid size-5"
            >
              <rect x="3" y="3" width="7" height="7"></rect>
              <rect x="14" y="3" width="7" height="7"></rect>
              <rect x="14" y="14" width="7" height="7"></rect>
              <rect x="3" y="14" width="7" height="7"></rect>
            </svg>
          </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <div class="bg-white flex gap-2 p-3 rounded-xl">
            <img src="/public/assets/R.jpeg" alt="" class="w-1/3 rounded-xl" />
            <div class="space-y-2 w-2/3 mx-4">
              <div class="flex justify-between items-center">
                <p class="font-semibold text-base">Gostone</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-heart size-4"
                >
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                  ></path>
                </svg>
              </div>
              <div class="flex text-xs items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="sky"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-star size-4"
                >
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  ></polygon>
                </svg>
                <p class="font-semibold pl-1">4.9</p>
                <p>(75)</p>
                <p class="font-semibold pl-2">2.2k.m</p>
              </div>
              <div class="text-base flex justify-between">
                <p class="font-semibold">
                  $290 <span class="font-normal text-sm">/night</span>
                </p>
                <button
                  class="bg-black text-white py-1 px-2 text-center rounded-lg"
                >
                  Details
                </button>
              </div>
            </div>
          </div>
          <div class="bg-white flex gap-2 p-3 rounded-xl">
            <img src="/public/assets/R.jpeg" alt="" class="w-1/3 rounded-xl" />
            <div class="space-y-2 w-2/3 mx-4">
              <div class="flex justify-between items-center">
                <p class="font-semibold text-base">Gostone</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-heart size-4"
                >
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                  ></path>
                </svg>
              </div>
              <div class="flex text-xs items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="sky"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-star size-4"
                >
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  ></polygon>
                </svg>
                <p class="font-semibold pl-1">4.9</p>
                <p>(75)</p>
                <p class="font-semibold pl-2">2.2k.m</p>
              </div>
              <div class="text-base flex justify-between">
                <p class="font-semibold">
                  $290 <span class="font-normal text-sm">/night</span>
                </p>
                <button
                  class="bg-black text-white py-1 px-2 text-center rounded-lg"
                >
                  Details
                </button>
              </div>
            </div>
          </div>
          <div class="bg-white flex gap-2 p-3 rounded-xl">
            <img src="/public/assets/R.jpeg" alt="" class="w-1/3 rounded-xl" />
            <div class="space-y-2 w-2/3 mx-4">
              <div class="flex justify-between items-center">
                <p class="font-semibold text-base">Gostone</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-heart size-4"
                >
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                  ></path>
                </svg>
              </div>
              <div class="flex text-xs items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="sky"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-star size-4"
                >
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  ></polygon>
                </svg>
                <p class="font-semibold pl-1">4.9</p>
                <p>(75)</p>
                <p class="font-semibold pl-2">2.2k.m</p>
              </div>
              <div class="text-base flex justify-between">
                <p class="font-semibold">
                  $290 <span class="font-normal text-sm">/night</span>
                </p>
                <button
                  class="bg-black text-white py-1 px-2 text-center rounded-lg"
                >
                  Details
                </button>
              </div>
            </div>
          </div>
          <div class="bg-white flex gap-2 p-3 rounded-xl">
            <img src="/public/assets/R.jpeg" alt="" class="w-1/3 rounded-xl" />
            <div class="space-y-2 w-2/3 mx-4">
              <div class="flex justify-between items-center">
                <p class="font-semibold text-base">Gostone</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-heart size-4"
                >
                  <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
                  ></path>
                </svg>
              </div>
              <div class="flex text-xs items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="sky"
                  stroke="currentColor"
                  stroke-width="1"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-star size-4"
                >
                  <polygon
                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                  ></polygon>
                </svg>
                <p class="font-semibold pl-1">4.9</p>
                <p>(75)</p>
                <p class="font-semibold pl-2">2.2k.m</p>
              </div>
              <div class="text-base flex justify-between">
                <p class="font-semibold">
                  $290 <span class="font-normal text-sm">/night</span>
                </p>
                <button
                  class="bg-black text-white py-1 px-2 text-center rounded-lg"
                >
                  Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-4/12 rounded-xl lg:space-y-5 w-0 h-0">
      <img
        src="/public/assets/istockphoto-1356458811-1024x1024.jpg"
        alt=""
        class="rounded-xl lg:h-[700px] xl:h-[760px]"
      />
    </div>
  </div>
</div>
