<div class="flex justify-between">
  <div class="flex pl-20 pb-40 justify-evenly">
    <div class="overflow-visible z-10">
      <p
        class="text-lg text-white pt-32 items-end font-mono leading-loose text-justify"
      >
        I'M
        <span class="text-emerald-400 font-semibold text-3xl">MD.Jony, </span
        ><br />
        Web Developer & <br />
        Software Engineer
      </p>
      <button
        type="submit"
        class="mt-4 py-1 px-8 text-emerald-500 rounded-md border border-emerald-400 hover:bg-emerald-600/10"
      >
        Download CV
      </button>
    </div>
  </div>
  <div></div>
</div>
