<div class="mx-auto container">
  <div class="flex items-center justify-between pt-7 mx-3 text-sm sm:text-base">
    <img
      src="/public/assets/file.png"
      alt="logo"
      class="w-10 h-10 sm:w-12 sm:h-12 cursor-pointer"
      routerLink="/"
    />
    <div class="flex gap-4 sm:gap-5 md:gap-10 text-white text-sm">
      <a
        href="#about"
        class="hover:text-white hover:scale-125 transition-transform duration-300"
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About</a
      >
      <a
        href="#skill"
        class="hover:text-white hover:scale-125 transition-transform duration-300"
        routerLink="/skill"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Skill</a
      >
      <a
        href="#portfolio"
        class="hover:text-white hover:scale-125 transition-transform duration-300"
        routerLink="/portfolio"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Portfolio</a
      >
      <a
        href="#contact"
        class="hover:text-white hover:scale-125 transition-transform duration-300"
        routerLink="/contact"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Contact</a
      >
    </div>
  </div>
</div>
