<div class="mx-auto container px-2">
  <div class="bg-[#fef7f2] space-y-16">
    <div class="flex justify-between items-center py-10">
      <h1 class="text-3xl font-bold">House</h1>
      <div class="flex gap-4 items-center">
        <a href="">Home</a>
        <a href="">Services</a>
        <a href="">Agents</a>
        <a href="">Contact</a>
      </div>
      <div class="flex gap-4 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-search"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
          <path d="M21 21l-6 -6" />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-user"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
        </svg>
        <button type="button" class="px-4 py-2 bg-black text-white rounded-lg">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
