<div class="container md:mx-auto">
  <div
    class="flex flex-col md:flex-row pt-5 space-y-4 md:space-y-0 md:justify-between items-center justify-center"
  >
    <h1 class="text-3xl font-bold text-center text-purple-800">Food Store</h1>
    <div class="flex gap-4 justify-center items-center">
      <a href="">Home</a>
      <a href="">Resource</a>
      <a href="">About</a>
      <a href="">Community</a>
    </div>
  </div>
  <div class="pt-10 text-balance">
    <div class="flex flex-col sm:flex-row justify-between w-full">
      <div class="space-y-3 md:space-y-6 sm:w-1/2 pl-4">
        <p
          class="pt-10 md:pl-0 leading-snug lg:leading-snug text-3xl lg:text-5xl font-bold"
        >
          Get Fresh & <br />
          <span class="text-purple-800">Healthy Food</span><br />
          Anytime. <span class="text-purple-700">Anywhere</span>
        </p>
        <p class="leading-tight text-balance pr-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, illum
          at deleniti, voluptate nostrum laborum facilis tempora rem quae in,
        </p>
        <button
          class="flex justify-center items-center w-40 rounded-full bg-purple-800 text-white py-1.5 md:py-2 md:px-5 px-3 relative text-lg"
        >
          Explore
          <div class="absolute bg-white p-1.5 rounded-full right-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="currentColor"
              class="size-4 stroke-purple-800"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m8.25 4.5 7.5 7.5-7.5 7.5"
              />
            </svg>
          </div>
        </button>
      </div>

      <div class="relative pt-10 w-0 md:pt-0 sm:w-auto">
        <img
          src="/public/assets/food1.png"
          alt="food-plate"
          class="w-56 sm:w-72 md:w-96 h-auto items-end"
        />
        <img
          src="/public/assets/food2.png"
          alt="food-plate2"
          class="absolute lg:w-36 right-40 top-48 sm:top-56 sm:right-48 md:right-80 lg:right-96 w-0"
        />
      </div>
    </div>
  </div>
  <div class="sm:py-20 py-10 space-y-10">
    <div class="space-y-4">
      <p class="text-center text-3xl font-bold tracking-wide">
        How to get <span class="text-purple-800">Started</span>
      </p>
      <p class="text-center text-balance">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquid
        dolores, perferendis, ullam, dignissimos vita
      </p>
    </div>
    <div
      class="grid-cols-2 grid md:grid-cols-3 gap-x-2 sm:gap-x-5 gap-y-5 sm:gap-y-14 lg:px-10 lg:grid-cols-4 justify-center mx-3 pt-10"
    >
      <div
        class="w-full p-3 sm:p-5 sm:py-10 space-y-4 border shadow-xl border-gray-200 rounded-2xl"
      >
        <div
          class="p-1 bg-[#f542d4] rounded-xl inline-flex shadow-xl shadow-pink-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
            />
          </svg>
        </div>

        <p class="font-bold sm:text-lg text-base">Choose Your Meal</p>
        <p class="leading-tight sm:leading-normal text-pretty md:text-start">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti
          velit vel, laboriosam enim debitis exercitationem neque
        </p>
        <p class="font-semibold text-blue-700">Read More</p>
      </div>
      <div
        class="w-full p-3 sm:p-5 sm:py-10 space-y-4 border shadow-xl border-gray-200 rounded-2xl"
      >
        <div
          class="p-1 bg-[#eeff00] rounded-xl inline-flex shadow-xl shadow-yellow-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
            />
          </svg>
        </div>

        <p class="font-bold sm:text-lg text-base">Choose Your Meal</p>
        <p class="leading-tight sm:leading-normal text-pretty">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti
          velit vel, laboriosam enim debitis exercitationem neque
        </p>
        <p class="font-semibold text-blue-700">Read More</p>
      </div>
      <div
        class="w-full p-3 sm:p-5 sm:py-10 space-y-4 border shadow-xl border-gray-200 rounded-2xl"
      >
        <div
          class="p-1 bg-[#31f916] rounded-xl inline-flex shadow-xl shadow-green-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
            />
          </svg>
        </div>

        <p class="font-bold sm:text-lg text-base">Choose Your Meal</p>
        <p class="leading-tight sm:leading-normal text-pretty">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti
          velit vel, laboriosam enim debitis exercitationem neque
        </p>
        <p class="font-semibold text-blue-700">Read More</p>
      </div>
      <div
        class="w-full p-3 sm:p-5 sm:py-10 space-y-4 border shadow-xl border-gray-200 rounded-2xl"
      >
        <div
          class="p-1 bg-[#ff9d0b] rounded-xl inline-flex shadow-xl shadow-orange-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
            />
          </svg>
        </div>

        <p class="font-bold sm:text-lg text-base">Choose Your Meal</p>
        <p class="leading-tight sm:leading-normal text-pretty">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti
          velit vel, laboriosam enim debitis exercitationem neque
        </p>
        <p class="font-semibold text-blue-700">Read More</p>
      </div>
    </div>
  </div>
</div>
